<!DOCTYPE html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml" version="0.0.20">

<head>
  <title>Il riepilogo del tuo pagamento</title>
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="page">

    <div class="page-wrapper">
      <header class="page-header">
        <section class="pagopa-header">
          <img class="logo" src="assets/logo-pagoPa.svg" />
          <h1 class="title">
            {{!-- Ricevuta di pagamento --}}
            {{#if (localeIs "it")}}
            {{__ "title.paymentReceipt"}}
            {{else}}
            {{__ "title.paymentReceipt" lng="it"}}<br />
            {{__ "title.paymentReceipt"}}
            {{/if}}
          </h1>
        </section>
        {{#if transaction.processedByPagoPA}}
        {{#if transaction.psp.logo}}
        <dl class="psp-header">
          <dt>
            {{!-- Per conto di: --}}
            {{#if (localeIs "it")}}
            {{__ "title.onBehalfOf"}}
            {{else}}
            {{__ "title.onBehalfOf" lng="it"}} · {{__ "title.onBehalfOf"}}
            {{/if}}
          </dt>
          <dd class="psp-logo">
            <img alt={{transaction.psp.name}} src={{transaction.psp.logo}} />
          </dd>
        </dl>
        {{/if}}
        {{/if}}
      </header>

      <main>
        <div class="content-grid">

          <section class="transaction-data">

            <section class="transaction-data-group">

              {{#with user.data}}
              <dl class="data-key-value">
                <dt>
                  {{!-- Eseguito da --}}
                  {{#if (localeIs "it")}}
                  {{__ "field.paidBy"}}
                  {{else}}
                  {{__ "field.paidBy" lng="it"}} · {{__ "field.paidBy"}}
                  {{/if}}
                </dt>
                <dd class="entityGroup">
                  {{#if fullName}}
                  <span class="entityName forcedCapitalCase">{{lowercase fullName}}</span>
                  {{/if}}
                  <span class="entityCode">{{taxCode}}</span>
                </dd>
              </dl>
              {{/with}}

              {{#if transaction.rrn}}
              <dl class="data-key-value">
                <dt>
                  {{!-- ID transazione (RRN) --}}
                  {{#if (localeIs "it")}}
                  {{__ "field.rrn"}}
                  {{else}}
                  {{__ "field.rrn" lng="it"}} · {{__ "field.rrn"}}
                  {{/if}}
                </dt>
                <dd class="entityCode">{{transaction.rrn}}</dd>
              </dl>
              {{/if}}

              {{#if transaction.authCode}}
              <dl class="data-key-value">
                <dt>
                  {{!-- Codice autorizzativo --}}
                  {{#if (localeIs "it")}}
                  {{__ "field.authCode"}}
                  {{else}}
                  {{__ "field.authCode" lng="it"}} · {{__ "field.authCode"}}
                  {{/if}}
                </dt>
                <dd class="entityCode">{{transaction.authCode}}</dd>
              </dl>
              {{/if}}

            </section>

            <section class="transaction-data-group">

              {{#unless transaction.requestedByDebtor}}

              {{#if transaction.paymentMethod.name}}
              <dl class="data-key-value">
                <dt>
                  {{!-- Metodo di pagamento --}}
                  {{#if (localeIs "it")}}
                  {{__ "field.paymentMethod"}}
                  {{else}}
                  {{__ "field.paymentMethod" lng="it"}} · {{__ "field.paymentMethod"}}
                  {{/if}}
                </dt>
                <dd class="data-value-big">
                  <div class="payment-method-group forcedCapitalCase">
                    <img class="payment-method-logo" src={{transaction.paymentMethod.logo}} />
                    {{lowercase transaction.paymentMethod.name}}
                  </div>
                </dd>
              </dl>
              {{/if}}

              {{#if transaction.paymentMethod.accountHolder}}
              <dl class="data-key-value">
                <dt>
                  {{!-- Intestato a --}}
                  {{#if (localeIs "it")}}
                  {{__ "field.cardHolder"}}
                  {{else}}
                  {{__ "field.cardHolder" lng="it"}} · {{__ "field.cardHolder"}}
                  {{/if}}
                </dt>
                <dd class="data-value-big forcedCapitalCase">{{lowercase transaction.paymentMethod.accountHolder}}</dd>
              </dl>
              {{/if}}

              {{/unless}}

              {{#if transaction.psp}}
              <dl class="data-key-value">
                <dt>
                  {{!-- Gestore della transazione (PSP) --}}
                  {{#if (localeIs "it")}}
                  {{__ "field.psp"}}
                  {{else}}
                  {{__ "field.psp" lng="it"}} · {{__ "field.psp"}}
                  {{/if}}
                </dt>
                <dd class="data-value-big">{{transaction.psp.name}}</dd>
              </dl>
              {{/if}}

              <dl class="data-key-value">
                <dt>
                  {{!-- Data e ora --}}
                  {{#if (localeIs "it")}}
                  {{__ "field.timestamp"}}
                  {{else}}
                  {{__ "field.timestamp" lng="it"}} · {{__ "field.timestamp"}}
                  {{/if}}
                </dt>
                <dd class="data-value-big">{{transaction.timestamp}}</dd>
              </dl>

            </section>

          </section>

          <section class="transaction-detail">

            {{#each cart.items}}

            <section class="transaction-detail-group">

              {{#if this.subject}}
              <div class="transaction-detail-paymentSubject">
                <!-- Oggetto del pagamento (Carrello singolo) -->
                {{#not this.length 1}}
                <h2 class="paymentSubject">{{{this.subject}}}</h2>
                {{/not}}
              </div>
              {{/if}}

              <!-- Debitore (+ codice fiscale) -->
              {{#with this.debtor}}
              <dl class="data-key-value small transaction-detail-debtor">

                <dt>
                  {{!-- Debitore --}}
                  {{#if (localeIs "it")}}
                  {{__ "field.debtor"}}
                  {{else}}
                  {{__ "field.debtor" lng="it"}} · {{__ "field.debtor"}}
                  {{/if}}
                </dt>
                <dd class="entityGroup">
                  {{#if fullName}}
                  <span class="entityName forcedCapitalCase">{{lowercase fullName}}</span>
                  {{/if}}
                  {{#if taxCode}}
                  <span class="entityCode">{{taxCode}}</span>
                  {{/if}}
                </dd>
              </dl>
              {{/with}}

              <!-- Ente creditore (+ codice fiscale) -->
              <dl class="data-key-value small transaction-detail-creditor">
                <dt>
                  {{!-- Ente creditore --}}
                  {{#if (localeIs "it")}}
                  {{__ "field.payee"}}
                  {{else}}
                  {{__ "field.payee" lng="it"}} · {{__ "field.payee"}}
                  {{/if}}
                </dt>
                <dd class="entityGroup">
                  <span class="entityName">{{this.payee.name}}</span>
                  <span class="entityCode">{{this.payee.taxCode}}</span>
                </dd>
              </dl>

              <section class="transaction-detail-paymentData">

                <!-- IUV -->
                {{#eq this.refNumber.type "IUV"}}
                <dl class="data-key-value right-align">
                  <dt>IUV</dt>
                  <dd class="entityCode">{{this.refNumber.value}}</dd>
                </dl>
                {{/eq}}

                <!-- Codice Avviso -->
                {{#eq this.refNumber.type "codiceAvviso"}}
                <dl class="data-key-value right-align">
                  <dt>
                    {{#if (localeIs "it")}}
                    {{__ "field.noticeCode"}}
                    {{else}}
                    {{__ "field.noticeCode" lng="it"}} · {{__ "field.noticeCode"}}
                    {{/if}}
                  </dt>
                  <dd class="entityCode">{{splitAndSpace this.refNumber.value}}</dd>
                </dl>
                {{/eq}}

                <!-- Importo -->
                <dl class="data-key-value small right-align amount-value">
                  <dt>
                    {{!-- Importo --}}
                    {{#if (localeIs "it")}}
                    {{__ "field.noticeAmount"}}
                    {{else}}
                    {{__ "field.noticeAmount" lng="it"}} · {{__ "field.noticeAmount"}}
                    {{/if}}
                  </dt>
                  <dd>{{this.amount}}&nbsp;&euro;</dd>
                </dl>

              </section>

            </section>

            <hr class="transaction-detail-divider" />

            {{/each}}

          </section>

          <section class="transaction-summary">


            <!-- Partial Amount -->
            {{#not cart.items.length 1}}
            <dl class="transaction-summary-key-value">
              <dt>
                {{!-- Importo parziale --}}
                {{#if (localeIs "it")}}
                {{__ "field.partialAmount"}}
                {{else}}
                {{__ "field.partialAmount" lng="it"}} · {{__ "field.partialAmount"}}
                {{/if}}
              </dt>
              <dd>{{cart.amountPartial}}&nbsp;&euro;</dd>
            </dl>
            {{/not}}

            <!-- Commissione -->
            {{#if transaction.psp.fee.amount}}
            <dl class="transaction-summary-key-value">
              <dt>
                {{!-- Importo --}}
                {{#if (localeIs "it")}}
                {{__ "field.fee" PSPShortName=transaction.psp.name}}
                {{else}}
                {{__ "field.fee" lng="it" PSPShortName=transaction.psp.name}}
                <br />
                {{__ "field.fee" PSPShortName=transaction.psp.name}}
                {{/if}}
              </dt>
              <dd>{{transaction.psp.fee.amount}}&nbsp;&euro;</dd>
            </dl>
            {{/if}}

            <!-- Totale -->
            <dl class="transaction-summary-key-value total-amount">
              <dt>
                {{!-- Totale --}}
                {{#if (localeIs "it")}}
                {{__ "field.toBePaid"}}
                {{else}}
                {{__ "field.toBePaid" lng="it"}}
                <br />
                {{__ "field.toBePaid"}}
                {{/if}}
              </dt>
              <dd>{{transaction.amount}}&nbsp;&euro;</dd>
            </dl>

            <!-- Bank Charges -->
            {{#if transaction.paymentMethod.extraFee}}
            {{!-- <p>Il totale non include eventuali costi di invio bonifico, se applicati dal gestore della transazione
              (PSP).
              Per maggiori informazioni, rivolgiti alla tua banca.
            </p> --}}
            {{/if}}

          </section>

        </div>
      </main>

      <footer>

        <div class="footer-disclaimer">
          <p>
            <strong>
              {{#if (localeIs "it")}}
              {{__ "disclaimer.compliance"}}
              {{else}}
              {{__ "disclaimer.compliance" lng="it"}}
              <br />
              {{__ "disclaimer.compliance"}}
              {{/if}}

            </strong>
          </p>

          {{#unless transaction.psp.fee.amount}}
          <p>
            {{!-- Riferimento a costi di commissione non presenti --}}
            {{#if (localeIs "it")}}
            {{__ "disclaimer.unknownFees" PSPShortName=transaction.psp.name}}
            {{else}}
            {{__ "disclaimer.unknownFees" lng="it" PSPShortName=transaction.psp.name}}
            <br />
            {{__ "disclaimer.unknownFees" PSPShortName=transaction.psp.name}}
            {{/if}}
          </p>
          {{/unless}}

        </div>


        <div class="company-info">
          <div class="pagopa-company-address">
            <p>
              <strong>
                {{#if (localeIs "it")}}
                {{__ "footer.handledByPagopa"}}
                {{else}}
                {{__ "footer.handledByPagopa" lng="it"}}<br />
                {{__ "footer.handledByPagopa"}}
                {{/if}}
              </strong>
            </p>
            <p>
              Piazza Colonna, 370<br />
              00187 Roma (RM)
            </p>
          </div>

          <!-- Informazioni sul PSP -->
          {{#if transaction.psp}}
          <div class="psp-company-address">
            <p>
              <strong>
                {{#if (localeIs "it")}}
                {{__ "footer.paymentManagedByPsp" PSPLegalName=transaction.psp.companyName}}
                {{else}}
                {{__ "footer.paymentManagedByPsp" lng="it" PSPLegalName=transaction.psp.companyName }}<br />
                {{__ "footer.paymentManagedByPsp" PSPLegalName=transaction.psp.companyName }}
                {{/if}}
                {{!-- Pagamento gestito da {{transaction.psp.companyName}} --}}
              </strong>
            </p>
            <p>
              {{transaction.psp.address}}, {{transaction.psp.buildingNumber}}<br />
              {{transaction.psp.postalCode}} {{transaction.psp.city}} ({{transaction.psp.province}})
            </p>
          </div>
          {{/if}}

        </div>

        <p>
          {{#if (localeIs "it")}}
          {{__ "footer.needHelp"}} {{__ "footer.browse"}} <strong><u>pagopa.gov.it/assistenza</u></strong> ·
          {{__ "footer.paymentId"}}: <strong class="transaction-id">{{serviceCustomerId}}</strong>
          {{else}}
          {{__ "footer.needHelp" lng="it"}} {{__ "footer.browse" lng="it"}}
          <strong><u>pagopa.gov.it/assistenza</u></strong> · {{__ "footer.paymentId" lng="it"}}:
          <strong class="transaction-id">{{serviceCustomerId}}</strong>
          <br />
          {{__ "footer.needHelp"}} {{__ "footer.browse"}} <strong><u>pagopa.gov.it/assistenza</u></strong> ·
          {{__ "footer.paymentId"}}: <strong class="transaction-id">{{serviceCustomerId}}</strong>
          {{/if}}
        </p>

      </footer>
    </div>

  </div>

</body>

</html>