<section class="transaction-detail-group">

  {{#if this.subject}}
  <div class="transaction-detail-paymentSubject">
    <!-- Oggetto del pagamento (Carrello singolo) -->
    {{#not this.length 1}}
    <h2 class="paymentSubject">{{{this.subject}}}</h2>
    {{/not}}
  </div>
  {{/if}}

  <!-- Debitore (+ codice fiscale) -->
  {{#with this.debtor}}
  <dl class="data-key-value small transaction-detail-debtor">
    <dt>Debitore</dt>
    <dd class="entityGroup">
      {{#if fullName}}
      <span class="entityName forcedCapitalCase">{{lowercase fullName}}</span>
      {{/if}}
      {{#if taxCode}}
      <span class="entityCode">{{taxCode}}</span>
      {{/if}}
    </dd>
  </dl>
  {{/with}}

  <!-- Ente creditore (+ codice fiscale) -->
  <dl class="data-key-value small transaction-detail-creditor">
    <dt>Ente Creditore</dt>
    <dd class="entityGroup">
      <span class="entityName">{{this.payee.name}}</span>
      <span class="entityCode">{{this.payee.taxCode}}</span>
    </dd>
  </dl>

  <section class="transaction-detail-paymentData">

    <!-- IUV -->
    {{#eq this.refNumber.type "IUV"}}
    <dl class="data-key-value right-align">
      <dt>IUV</dt>
      <dd class="entityCode">{{this.refNumber.value}}</dd>
    </dl>
    {{/eq}}

    <!-- Codice Avviso -->
    {{#eq this.refNumber.type "codiceAvviso"}}
    <dl class="data-key-value right-align">
      <dt>Codice avviso</dt>
      <dd class="entityCode">{{splitAndSpace this.refNumber.value}}</dd>
    </dl>
    {{/eq}}

    <!-- Importo -->
    <dl class="data-key-value small right-align amount-value">
      <dt>Importo</dt>
      <dd>{{this.amount}}&nbsp;&euro;</dd>
    </dl>

  </section>

</section>

<hr class="transaction-detail-divider" />